body {
 background-color: white;
 font-family: Helvetica;
 text-align: center;
}

h1 {
   font-size: 70px;
   font-weight: bold;
   color: white;
 }

 h2 {
   font-size: 32px;
   font-weight: bold;
 }

 h3 {
   font-size: 23px;
   font-weight: bold;
 }

 p {
   font-size: 14px;
 }

.sub-title {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.title {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.title a {
  font-size: 18px;
  color: white;
}

.footer {
  background-color: dimgray;
  font-size: 12px;
  color: white;
}

.copyright {
  font-size: 11px
}
